
html,body{
    width: 100%;
    height: 100%;
}

.body--start{
    height: 100%;
}
.wrapper--start{
    background-image: url('../../../../img/bgstart-page.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
}

.logo__image--start{
    height: 119px; 
    width: 279px;
}

.start__description{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 52px;
    text-align: center;
    color: white;
    margin-top: 0px;
}

.start__button{
    text-align: center;
}