.form-block{
    background: #F4F5F5;
}

.form-block__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    padding-top: 60px;
    margin-bottom: 60px;
}

.form__row{
    display: flex;
    margin-bottom: 30px;
}

.form__input{
    height: 65px;
    flex:1;
    margin-right:30px;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    color: #666;
}

.form__input:active{
    border: 1px solid #F5170E;
}

.form__input:last-child{
    margin-right: 0px;
}

.form__input--textarea{
    height: 235px;
    margin-bottom:25px;
}

.form-controls{
    display: flex;
    justify-content: space-between;
}

.form-controls__title{
    
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.form-controls__block{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 75px;
}

.form-controls__item{
    margin-right: 15px;
    margin-bottom: 10px;
    
}

.controls__check{
    display: none;
}


.controls__check:checked ~ .tags__text--controls{
    background:#B9EAE4;
}


.controls__point{
    cursor: pointer;
}

.forms__buttons{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 100px;
}

.button--forms{
    margin-top: 32px;
    margin-right:17px;
}

.button--forms:hover{
    background-color: #2B2B2B;
    color: white;
}