
.about-us{
    margin-bottom: 53px;
}

.about-us__images{
    position: relative;
   
}

.about-us__image{
    display: flex;
    width: 490px;
    height:505px;
    border-radius: 5px;
    flex-shrink:3;
}
/*-------------------------------------------------------------------------------------------*/
.about-us__card{
    position: absolute;
    display: inline-block;
    background-image: url('../../../img/mountains.png');
    background-repeat: no-repeat;
    width:785px;
    top: 97px;
    left: 355px;
    border-radius: 5px;
    flex-shrink: 1;
}

.about-us__content{
    width: 502px;
    margin-top: 70px;
    margin-left: 81px;
    margin-bottom: 66px;
}

.about-us__headtxt{
    font-family: "Open Sans",sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    text-align: left;
}

.about-us__description{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 43px;
}
