

.burning-tours{
    margin-bottom: 127px;
    width: 100%;
}

.burning-tours__headtxt{
    font-family: "Open Sans",sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    margin-bottom: 51px;
}

.tour-cards__list{
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.tour-card__list{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.tour-cards__item{
    display: flex;
    width: calc(100% / 3 - 18px);
    flex-direction: column;
    justify-content: space-between;
}


.tour-card{
    min-height: 450px;
    width: 362px;
}

.tour-card__image{
    margin-bottom: -25px;
}


.tour-card__content{
    background-color: white;
    border-radius: 0 0 5px 5px;
    margin-top: 0px;
    padding-left: 22px;
    padding-top:33px;
    display: flex;
    flex-direction: column;
    flex:1;
}
/* 
.tour-card__name-block{
    margin-bottom: 22px;
} */



.tour-card__date-food{
    display:flex;
    justify-content: space-between;
    margin-top: 22px;
}

.date-food__item:not(:first-child){
    margin-left:28px;
}


.tour-card__night{
    margin-left: 10px;
}

.date-food__food{
    margin-right: 10px;
}


.tour-card__description{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 26px;
}