
.pager{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 58px;
}

.page__display{
    color: white;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top:5px;
}

.pager__list{
    margin-left: 25px;
    display:flex;
    align-items: center;
}

.pager__pointer{
    display: flex;
    justify-content: center;
}

.pager__items{
    padding-top:0px;
}

.pager__item{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: white;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px 11px;
}

.pager__item:hover{
    background-color: white;
    color: #F5170E;
}
