*{
    box-sizing:border-box;
}

body{
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

html{
    min-height: 100%;
}


.wrapper{
    background-image: url(../../../img/fon.png);
    width: 100%;
    height: 100%;
    background-position: 50% 0;
    background-size: cover;
    overflow-x:hidden;
}

.wrapper--services, .wrapper--review{
    width: 100%;
    height: 100%;
    background-position: 50% 0;
    background-size: cover;
    overflow-x:hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

h1,h2,h3,h4{
    margin:0
}


.container{
    margin: 0 auto;
    width: 1150px;
}

.container--services, .container--review{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
}

.breadcrumbs{
    margin-bottom: 25px;
}

.breadcrumbs__item:not(:first-child){
    margin-left:4px;
    align-items: center;
}

.breadcrumb{
    
    color: #9A9A9A;
}

.breadcrumb--bold{
    font-weight: bold;
}


.hero__headtxt{
    width:100%;
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
    color: white;
}
