/*layout*/
@import url('./css/layout/normalize.css');
@import url('./css/layout/base.css');


/*blocks*/
@import url('./css/blocks/header.css');
@import url('./css/blocks/logo.css');
@import url('./css/blocks/contacts.css');
@import url('./css/blocks/navigation.css');
@import url('./css/blocks/hero.css');
@import url('./css/blocks/buttons.css');
@import url('./css/blocks/burning-tours.css');
@import url('./css/blocks/news.css');
@import url('./css/blocks/pager.css');
@import url('./css/blocks/about-us.css'); 
@import url('./css/blocks/footer.css');
@import url('./css/blocks/services/top-line.css');
@import url('./css/blocks/services/services-main.css');
@import url('./css/blocks/services/footer-services.css');