*{
    box-sizing:border-box;
}

body{
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}


.wrapper{
    background-image: url(../img/fon.png);
    width: 100%;
    height: 100%;
    background-position: 50% 0;
    background-size: cover;
    overflow:hidden;
}

.hero{
    color: #fff;
    font-size:14px;
    line-height: 19.07px;
    font-weight: 400;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}


.container{
    margin: 0 auto;
    width: 1150px;
}

.header{
    height: 80px;
    position: relative;
}

.logo{
    display: block;
    position: absolute;
    top: 29px;
    left: 0px;
}

.navigation{
    position: absolute;
    top: 43px;
    left: 79px;
}

.navigation__list{
    position: relative;
    left: 85px;
}

.navigation__item{
    display: inline-block;
    vertical-align: middle;
   
}

.navigation__item:not(:first-child){
    margin-left: 54px;
}


.navigation__link{
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
}

.navigation__link:hover{
    color: #DA0100;
}


.contacts{
    position: absolute;
    top: 28px;
    right: 8px;
}

.contacts__telephone{
    font-size: 26px;
    font-weight: 400;
    line-height: 35.41px;
}

.contacts__schedule{
    position: relative;
}

.contacts__link{
    position: absolute;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    top: -8px;
    left: 92px;
    text-decoration: none;
}

.hero__content{
    margin-top: 117px;
}

.hero__headtxt{
    max-width: 511px;
    width:100%;
    font-size: 72px;
    font-weight: 700;
    line-height: 98.05px;
}

.hero__description{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: -32px;
    margin-bottom: 34px;
}

.button{
    width:168px;
    height:55px;
    border-radius: 35px;
    border-color: transparent;
    background-color:#F5170E;
    color:white;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.07px;
    padding-top: 5px;
    padding-left: 9px;
    margin-bottom: 246px;
    cursor: pointer;
}

.button:hover{
    background-color: #DA0100;
    transition: background 0.3s;
}


.burning-tours{
    margin-bottom: 127px;
    width: 100%;
}

.burning-tours__headtxt{
    font-family: "Open Sans",sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    margin-bottom: 51px;
}

.tour-cards{
    display: inline-block;
}

.tour-cards__item{
    display: inline-block;
}

.tour-cards__item:not(:first-child){
    margin-left: 27px;
}

.tour-card{
    min-height: 450px;
    width: 362px;
    position: relative;
    display: inline-block;
}



.tour-card__list{
    display: inline-block;
}

.tour-card__content{
    background-color: white;
    border-radius: 0 0 5px 5px;
    margin-top: 0px;
    position: absolute;
    top: 144px;
    padding-left: 22px;
}

.date-food__item{
    display: inline-block;
}

.tour-card__night{
    margin-left: 10px;
}

.date-food__food{
    margin-left:28px;
    margin-right: 10px;
}

.tour-card__description{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 26px;
}

.card-button{
    width: 135px;
    max-height: 55px;
    border-radius: 35px;
    border: 1px solid #F5170E;
    background-color: white;
    color: #F5170E;
    margin-top: 25px;
    margin-bottom:26px;
    cursor: pointer;
    padding: 18px 29px;
}

.card-button:hover{
    background-color: #F5170E;
    color: white;
    transition: background .3s;
}

.card-button__content{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.news__headtxt{
    font-family: "Open Sans",sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    margin-bottom: 51px;
}
/*
.news__card{
    width: 557px;
    height: 394px;
    color: white;
}

.plain{
    background-image: url(../img/plain.png);
}

.surfer{
    background-image: url(../img/Surfer.png);
}


.news__item{
    display: inline-block;
    position: relative;
}

.news__item:not(:first-child){
    margin-left: 25px;
}

.news__date{
    position: absolute;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: inherit;
    top: 252px;
    margin-bottom: 12px;
}

.news__name{
    position: absolute;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 4px;
    top:286px;
    margin-bottom:20px;
}

.news__description{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    position:absolute;
    top:325px;
} */

.news__card{
    width: 557px;
}

.news__item{
    display: inline-block;
    position: relative;
    vertical-align: top;
    border-radius: 5px;
}

.news__item:not(:first-child){
    margin-left: 25px;
}

.news__content{
    position:absolute;
    max-width: 417px;
    max-height:65px;
    top: 252px;
    left: 0px;
    right: 0px;
    padding: 0 30px;
}

.news__date{
    position: absolute;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    top:0px;
    margin-bottom: 13px;
}
.news__name{
    position: absolute;
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    top: 20px;
    width: 100%;
}

.news__description{
    position: absolute;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    top: 85px;
} 

.news__cover{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.pager{
    text-align: center;
    margin-top: 58px;
    margin-bottom: 152px;
}

.page__display{
    display: inline-block;
    color: white;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.pager__list{
    display: inline-block;
    margin-left: 25px;
}

.pager__pointer{
    display: inline-block;
}

.pager__item{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: white;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px 11px;
}

.pager__item:hover{
    background-color: white;
    color: #F5170E;
}

.about-us{
    margin-bottom: 53px;
}

.about-us__images{
    position: relative;
}

.about-us__image{
    display: inline-block;
    width: 490px;
    height:505px;
    border-radius: 5px;
}

.about-us__card{
    position: absolute;
    display: inline-block;
    background-image: url(../img/mountains.png);
    width:785px;
    height: 455px;
    top: 97px;
    left: 355px;
    border-radius: 5px;
}

.about-us__content{
    width: 502px;
    margin-top: 70px;
    margin-left: 81px;
}

.about-us__headtxt{
    font-family: "Open Sans",sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    text-align: left;
}

.about-us__description{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 43px;
}


/*Разобраться с отображением социалок

.footer{
    position: relative;
    height:146px;
    width:100%;
    margin-top: 43px;
}

.footer-content{
    position: absolute;
    width:100%;
    top: 43px;
    border-top: 4px solid rgba(255,255,255,0.1);
}


.navigation--footer{
    display: inline-block;
    color: white;
    width:100%;
    height: 146px;
    margin-bottom: 68px;
}

.navigation__link--footer{
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

}


.social-links{
    position: absolute;
    left: 690px;
    top: 49px;
}

.social-links__item{
    display: inline-block;
}

.contacts--footer{
    position: absolute;
    display: block;
    left: 930px;
    top:43px;
}

.contacts__link--footer{
    position: absolute;
    top:43px;
}

.contacts__telephone-footer{
    position: absolute;
    top:69px;
}

*/

.footer{
    position:relative;
    height: 146px;
    width: 100%;
    color: white;
    margin-top: 59px;
    
}

.footer__content{
    border-top: 4px solid rgba(255,255,255,0.1);
    padding-top: 59px;
    margin-top:85px;
    margin-bottom: 68px;
}

.social{
    width:174px;
}

.social__item{

}

.contacts--footer{
    position: relative;
    left: 950px;
    top: -10px;
}

.contacts__schedule--footer{
    position: absolute;
    top: -7px;
    left: -65px;
}

.contacts__link--footer{
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    width: 163px;
    position: absolute;
}

