.footer{
    
    height: 146px;
    width: 100%;
    color: white;
    margin-top: 59px;
    
}

.footer__content{
    border-top: 4px solid rgba(255,255,255,0.1);
    padding-top: 59px;
    margin-top:85px;
    margin-bottom: 68px;
    display: flex;
    justify-content: space-between;
}

.footer__first{
    display: flex;
}

.footer__second{
    display: flex;
}

.social{
    width:174px;
    margin-right: 74px;
}

.social__list{
    display: flex;
    justify-content: space-between;
}

.social__item{
    cursor: pointer;
}


.contacts__schedule--footer{
    display: flex;
    justify-content: flex-end;
}

.contacts__link--footer{
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    width: 163px;
    display: flex;
    flex-direction: column;
    color:#9A9A9A;
    align-items: flex-end;
}


