
.hero{
    color: #fff;
    font-size:14px;
    line-height: 19.07px;
    font-weight: 400;
    margin-bottom: 246px;
}


.hero__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 117px;
    max-width: 50%;
}


.hero__headtxt{
    width:100%;
    font-size: 72px;
    font-weight: 700;
    line-height: 98.05px;
    color: white;
}

.hero__description{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 34px;
}

.breadcrumbs__list{
    display: flex;
    color: white;
}
